<!-- header -->
<header class="header">
	<div class="header__in">
		<div class="header__top">
			<div class="header__left">
				<!-- nav -->
				<nav class="nav">
					<a href="#">Блог</a>
					<a href="#">Безопасность</a>
					<a href="#">API</a>
				</nav>
			</div>
			<div class="header__right">
				<!-- login -->
				<div class="login">
					<button class="btn" type="button">Войти</button>
				</div>
				<!-- create -->
				<div class="create">
					<button class="btn" type="button">создать страницу оплаты</button>
				</div>
			</div>
		</div>
		<div class="header__bot">
			<div class="header__left">
				<a href="#" class="logo"></a>
			</div>
			<!-- menu -->
			<menu class="menu">
				<a href="#">Как это работает</a>
				<a href="#">ТАРИФЫ И ЛИМИТЫ</a>
				<a href="#">ПОПРОБОВАТЬ БЕЗ РЕГИСТРАЦИИ</a>
			</menu>
		</div>
		<!-- topic -->
		<div class="topic">
			<h1 class="title-big">Прием платежей для интернет-магазинов</h1>
			<p>Теперь начать принимать оплату за свои услуги можно всего за минуту, пройдя простую регистрацию через Facebook, Google+ или ВКонтакте.</p>
			<button class="btn" type="button">ПОПРОБОВАТЬ</button>
		</div>
	</div>
</header>